[keyboard]
PL2_UP = K_z
PL3_RIGHT = K_j
PL4_RIGHT = K_KP6
VALIDATE = K_RETURN
PL4_A = K_KP2
PL4_B = K_KP1
TOGGLE_FULLSCREEN = K_F11
PL1_RIGHT = K_RIGHT
PL1_LEFT = K_LEFT
PL1_UP = K_UP
PL3_DOWN = K_n
PL3_LEFT = K_h
PL2_LEFT = K_q
PL2_RIGHT = K_d
PL1_B = K_m
PL1_DOWN = K_DOWN
PL4_UP = K_KP8
PL4_DOWN = K_KP5
PL3_B = K_t
PL3_A = K_y
PL2_B = K_v
QUIT = K_ESCAPE
PL2_A = K_c
PL2_DOWN = K_s
PL4_LEFT = K_KP4
PL1_A = K_l
PL3_UP = K_u

[audio]
SOUND = True
SOUND_VOLUME = 100
MUSIC = True
MUSIC_VOLUME = 5

[general]
NETWORK_PORT = 8421
FULLSCREEN = False
NOTIF_EFFECT = True
WIDTH = 800
MAX_FPS = 30
LOG_FILENAME = usf.log
GRAVITY = 1962
INVINCIBLE_TIME = 3000
HEIGHT = 480
WALKSPEED = 200
AIR_FRICTION = 3
THEME = tech
CONFIRM_EXIT = True
ZOOM_SHARPNESS = 50
SMOOTHSCALE = True
JUMPHEIGHT = 48.0

