#!/usr/bin/env xdg-open
[Desktop Entry]
Categories=Application;Game;
Comment=An arcade fightr game in the spirit of the nintedo smash bros series!
Comment[fr_FR]=Un jeu de baston arcade dans l'esprit des jeux de la série smash bros, de nintendo
Encoding=UTF-8
Exec=ultimate-smash-friends
GenericName=usf   
Icon=/usr/share/ultimate-smash-friends/data/icon/icon_highres.png
Name=Ultimate Smash Friends
Name[fr_FR]=Ultimate Smash Friends
Terminal=false
Type=Application
Version=0.1.6

