#!/usr/bin/env xdg-open

[Desktop Entry]
Version=0.0  
Encoding=UTF-8
Name=Ultimate Smash Friends
GenericName=usf   
Comment=A funny game !
Exec=ultimate-smash-friends
Icon=/usr/share/ultimate-smash-friends/data/gui/icon.png
Terminal=false
Type=Application
Categories=Application;Game;
Name[fr_FR]=Ultimate Smash Friends

